

<form name='login'>
  <div ng-show='login.uemail.$dirty && login.uemail.$invalid || login.passwd.$dirty && login.passwd.$invalid' class='alert alert-warning'>
    <span ng-show='login.uemail.$error.required'>Please enter your email</span>
    <span ng-show='login.uemail.$error.email'>Please enter a valid email</span>
    <span ng-show='login.passwd.$error.required'>Please enter your password</span>

  </div>
  
  <div class='col-sm-4 col-sm-offset-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'><h3 class='panel-title'>Login</h3></div>
      <div class='panel-body'>
      <div class='form-group'>
        <input type='email' name='uemail' ng-model='user.email' placeholder='E-mail' required class='form-control'>
      </div>

      <div class='form-group'>
        <input type='password' name='passwd' ng-model='user.passwd' placeholder='Password' required class='form-control'>
      </div>

    </div> <!-- /.panel-body -->

      <div class='panel-footer'>
      <button type='button' ng-click='' class='btn btn-primary'>Login</button>
      </div>

    </div> <!-- /.panel -->

</div>

</form>
